{% extends "base_2col.html" %}

{% block sectionid %}authors{% endblock %}
{% block active_nav-authors %}class="active"{% endblock %}
{% block title %}Index des contributeurs{% endblock %}

{% block billboard %}<h2><a href="/contributeurs/">Contributeurs</a></h2>{% endblock %}

{% block content %}
<h1>Liste des contributeurs</h1>
<div class="content first-content">
    <h2 class="deck">Quelques informations au sujet des contributeurs du site</h2>
    <p>N'hésitez pas à <a href="/participer/">contribuer vous aussi</a>.</p>
    <ul class="linklist ">
    {% for contributor in contributor_list %}
        <li id="{{ contributor.slug }}">
            <h3>
                {% if contributor.url %}
                <a href="{{ contributor.url }}" title="Accès à son site personnel (sortie)">
                {% endif %}
                {{ contributor.name }}
                {% if contributor.url %}
                </a>
                {% endif %}
            </h3>
            <div class="bio">{{ contributor.bio }}</div>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block content-related %}
    <h2>Comment participer</h2>
    <p>
        Django-fr est en cours de développement/traduction. Toutes les
        contributions sont bien sûr les bienvenues.
    </p>
    <p><a href="/participer/" class="more-about">En savoir plus...</a></p>
{% endblock %}