{% extends "aggregator/overview.html" %}

{% block sectionid %}community{% endblock %}
{% block active_nav-community %}class="active"{% endblock %}
{% block title %}Community{% endblock %}
{% block billboard %}<h2><a href="/community/">Community</a></h2>{% endblock %}

{% block content %}

    <h1>Vielen Dank!</h1>
    
    
    <div class="content first-content">
        
        <p>Dein Feed wurde in den Community-Aggregator aufgenommen. Deine Daten
            werden noch von einem Admin auf Plausibilität überprüft, dass geschieht
            in der Regel binnen weniger Stunden.</p>
        
        <p>Wenn du wieder aus diesem Aggregator entfernt werden möchtest, wende dich
            bitte an <a href="/imprint/">Jannis</a>.</p>
            
        <p>Nochmal danke, dass du dabei bist. :-)</p>
    </div>
    
{% endblock %}