{% extends "base_2col.html" %}
{% load pagination_tags %}

{% block sectionid %}community{% endblock %}
{% block active_nav-community %}class="active"{% endblock %}
{% block title %}Community{% endblock %}
{% block billboard %}<h2><a href="/community/">Community</a></h2>{% endblock %}

{% block content %}
<h1>Community</h1>
<div class="content first-content">
    	
	{% autopaginate item_list %}
    {% for item in item_list %}
    {% ifchanged %}
    <h2>{{ item.published_original|date:"F Y" }}</h2>
    {% endifchanged %}

    <div class="section" id="{{ item.guid|escape }}">
        <div class="newsentry-gravatar">
            <a href="{{ item.url }}"><img src="{{ item.feed.get_gravatar_url }}" alt="Gravatar" title=""/></a>
        </div>
        <div class="newsentry-content gravatar">
            <h3>{{ item.title|safe }}</h3>
            <p class="subheadline">
                Von <a href="{{ item.feed.url }}">{{ item.feed.title }}</a>
                geschrieben am {{ item.published_original|date:"d. F Y H:i" }} Uhr</p>
            <div class="summary">{{ item.summary|safe|truncatewords:"40"|linebreaks }}</div>
            <p class="more">Weiter lesen: <a href="{{ item.url }}">{{ item.title|safe }} &rarr;</a></p>
        </div>
    </div>
	{% if not forloop.last %}
	<div class="newsentry-spacer"></div>
	{% endif %}
    {% endfor %}
</div>
{% paginate %}
{% endblock %}

{% block content-related %}
    <h2>Was ist das hier?</h2>
    <p>Diese Seite fasst die Weblog-Beiträge vieler Djangonauten zusammen.</p>
    <p>Sie wird derzeit stündlich aktualisiert.</p>

    <h2>Wer macht mit?</h2>

    <p>Folgende Weblogs und Personen sind auf dieser Seite zusammengefasst:</p>

    <ul class="linklist">
        {% for feed in feed_list %}
        <li><a href="{{ feed.url }}">{{ feed.title }}</a></li>
        {% endfor %}
    </ul>

    <h2>Mitmachen!</h2>

    <p>Wenn du auch über Django schreibst, kannst du ganz einfach deinen
        Newsfeed auf <a href="/community/add/">dieser Seite</a> hinzufügen.</p>

    <p>Es reicht auch, wenn du nur ab und zu mal über Django
        schreibst, Django-bezogene Einträge werden automatisch gefiltert.</p>

    <p><a href="/community/feeds/latest/">RSS-Feed</a> aller Beiträge</p>
{% endblock %}
