{% extends "base_2col.html" %}
{% load pagination_tags %}

{% block sectionid %}news{% endblock %}
{% block active_nav-news %}class="active"{% endblock %}
{% block title %}News{% endblock %}
{% block billboard %}
	<h2>
		<a href="{% url ticker_overview %}">News</a> &rarr;
		<a href="{% url ticker_archive %}">Archiv</a>
	</h2>
{% endblock %}

{% block content %}
<h1>Tag-Archiv</h1>

<div class="content first-content">
	
	<p class="tagsizelist">
	{% for tag in tag_list %}
		<a href="{% url ticker_archive_details tag.name|urlencode %}" class="tag tagsize{{ tag.font_size }}">{{ tag.name }}</a>
	{% endfor %}
	</p>
	
</div>
{% endblock %}

{% block content-related %}
	
	<h2>Populäre Tags</h2>
	
	<ul class="chartlist">
	  {% for tag in popular_tags|slice:":10" %}
	  <li>
		<a href="{% url ticker_archive_details tag.name|urlencode %}">{{ tag.name }}</a>
		<span class="count" title="umber of related entries">{{ tag.count }}</span>
		<span class="index" style="width: {% widthratio tag.count popular_tags_max 100 %}%">
		  ({% widthratio tag.count popular_tags_max 100 %}%)
		</span>
	  </li>
	  {% endfor %}
	</ul>

    <p style="margin-top: 20px;"><a href="/news/feeds/latest/">RSS-Feed</a> aller Beiträge</p>
{% endblock %}
