{% extends "base_2col.html" %}
{% load pagination_tags %}
{% load threadedcommentstags %}

{% block sectionid %}news{% endblock %}
{% block active_nav-news %}class="active"{% endblock %}
{% block title %}News{% endblock %}
{% block billboard %}
	<h2>
		<a href="{% url ticker_overview %}">News</a>
	</h2>
{% endblock %}

{% block content %}
<h1>{{ entry.title }}</h1>
<div class="content first-content">
	{% include "ticker/entry.html" %}
	
	<div class="newsentry-content">
		
	<h3>Kommentare</h3>
		<ol class="comments">
	    {% get_free_threaded_comment_tree for entry as comment_tree %}
	    {% for comment in tree %}
	        <div  class="comment">
	             said:<br/>
	            
	        </div>
	    {% endfor %}

		{% for comment in comment_tree %}
			<li id="c{{ comment.id }}" style="margin-left: {{ comment.depth }}em;">
				<p class="title">
					<a class="jump" href="#c{{ comment.id }}">#{{ forloop.counter }}</a> ~
					<span class="author">By <a href="{{ comment.website }}">{{ comment.name }}</a></span>
					~ comment.published|timesince
				</p>
				{% auto_transform_markup comment %}
			</li>
		{% endfor %}
		</ol>
		
		<h3>Kommentar hinzufügen</h3>
		<fieldset class="shinyform">
	    <form method="POST" action="{% get_free_comment_url entry %}">
	        <ol>
	            {% get_free_threaded_comment_form as form %}
	            {{ form.as_ul }}
	            <li><input type="submit" value="Submit Comment" /></li>
	        </ol>
	    </form>
		</fieldset>

	</div>
</div>
{% endblock %}

{% block content-related %}

	<p>
		<span class="prevnext">
			{% if entry.get_prev %}
			&larr; <a href="{{ entry.get_prev.get_absolute_url }}" title="Vorheriger Beitrag: {{ entry.get_prev.title }}">
				Vorheriger Beitrag
			</a>
			{% endif %}
			&nbsp;
			{% if entry.get_next %}
			<a href="{{ entry.get_next.get_absolute_url }}" title="Nächster Beitrag: {{ entry.get_next.title }}">
				Nächster Beitrag
			</a> &rarr;
			{% endif %}
		</span>
	</p>


	{% if entry.get_tags %}
	<h2 class="first">Tags für diesen Beitrag</h2>
	{% for tag in entry.get_tags %}
		<a href="{% url ticker_archive_details tag.name|urlencode %}" class="tag">{{ tag.name }}</a>
	{% endfor %}
	{% endif %}

	{% if entry.get_related %}
	<h2>Verwandte Beiträge</h2>
	<ul class="linklist">
	{% for rel in entry.get_related|slice:":5" %}
		<li><a href="{{ rel.get_absolute_url }}">{{ rel.title }}</a></li>
	{% endfor %}
	</ul>
	{% endif %}

    <p style="margin-top: 20px;"><a href="/news/feeds/latest/">RSS-Feed</a> aller Beiträge</p>
{% endblock %}
