{% extends "base_2col.html" %}
{% load gravatar %}
{% load pagination_tags %}

{% block sectionid %}news{% endblock %}
{% block active_nav-news %}class="active"{% endblock %}
{% block title %}News{% endblock %}
{% block billboard %}
	<h2>
		<a href="{% url ticker_overview %}">News</a>
	</h2>
{% endblock %}

{% block content %}
<h1>Neues aus der Django-Welt</h1>
<div class="content first-content">
	{% autopaginate entry_list 1 %}
	{% for entry in entry_list %}
    <div class="section" id="{{ item.guid|escape }}">
        <div class="newsentry-gravatar">
            <a href="{{ entry.get_absolute_url }}">{% gravatar entry.author 50 %}</a>
        </div>
        <div class="newsentry-content">
            <h3>{{ entry.title }}</h3>
            <p class="subheadline">
                Von <strong>{{ entry.get_author }}</strong>
                geschrieben am {{ entry.published|date:"d. F Y H:i" }} Uhr</p>
            <div class="summary">{{ entry.content_processed|safe }}</div>
            <p class="more"><strong>Details und Kommentare:</strong> <a href="{{ entry.get_absolute_url }}">{{ entry.title }} &rarr;</a></p>
        </div>
    </div>
    {% endfor %}
</div>
{% paginate %}
{% endblock %}

{% block content-related %}

	<h2>Was ist das hier?</h2>	

	<p>Der News-Bereich stellt regelmäßig die neuesten Nachrichten aus
		der Django-Welt vor. Dabei kann jeder mitmachen!</p>
		
	<p>Wenn du Co-Autor werden willst, melde dich einfach im IRC, ein
		Account ist schnell angelegt.</p>
		
	<h2>Populäre Tags</h2>
	
	<ul class="chartlist">
	  {% for tag in popular_tags|slice:":10" %}
	  <li>
		<a href="{% url ticker_archive_details tag.name|urlencode %}">{{ tag.name }}</a>
		<span class="count" title="umber of related entries">{{ tag.count }}</span>
		<span class="index" style="width: {% widthratio tag.count popular_tags_max 100 %}%">
		  ({% widthratio tag.count popular_tags_max 100 %}%)
		</span>
	  </li>
	  {% endfor %}
	</ul>
	
	<p style="margin-top: 10px;">Eine Übersicht über alle Tags findest du im 
		<a href="{% url ticker_archive %}">Archiv</a>.</p>

    <p style="margin-top: 20px;"><a href="/news/feeds/latest/">RSS-Feed</a> aller Beiträge</p>
{% endblock %}
