{% extends "base_2col.html" %}

{% block sectionid %}download{% endblock %}
{% block title %}Page 404{% endblock %}
{% block billboard %}<h2>Aïe !</h2>{% endblock %}

{% block content %}
<h1>Page 404</h1>
<div class="content first-content">
    <p>
        Malgré tous nos efforts, il reste des liens pointant vers des pages
        inconnues, il y a deux raisons possibles&nbsp;:
    </p>

    <h2>Traduction non terminée</h2>

    <p>
        Dans ce cas vous êtes invité(e) à <a href="/participer/"
        title="Accès à la page de participation">participer à la traduction</a>
        de la documentation restante.
    </p>
    <p>
        Si vous maîtrisez l'anglais, vous pouvez aussi vous rendre sur la
        <a href="http://www.djangoproject.com/documentation/"
        title="Accès à la documentation de Django"
        >documentation officielle de Django</a>.
    </p>

    <h2>Erreur de développement</h2>

    <p>
        Des fois, Django permet de développer <strong>trop</strong> rapidement !
        Toutes nos excuses, un mail est normalement envoyé à l'administrateur du
        site qui en prend connaissance au plus vite.
    </p>
</div>
{% endblock %}

{% block content-related %}
<h2>404 ?</h2>
<p>Une erreur 404 signifie que la page n'a pu être trouvée sur le site.</p>
{% endblock %}
