{% extends "base_2col.html" %}

{% block sectionid %}download{% endblock %}
{% block title %}Seite nicht gefunden{% endblock %}
{% block billboard %}<h2>Hoppla!</h2>{% endblock %}

{% block content %}
<h1>Seite nicht gefunden</h1>
<div class="content first-content">
    <p>
        Trotz all unser Bemühungen wird es immer mal wieder einen Link geben,
        der auf eine nicht verfügbare Seite verweist. Es gibt zwei mögliche Gründe dafür:
    </p>

    <h2>Unvollständige Übersetzung</h2>

    <p>
        In diesem Fall möchten wir Sie bitten an der Übersetzung
 		der restlichen Dokumentation <a href="/participate/"
        title="Link zur Teilnahmeseite">teilzunehmen</a>.
    </p>
    <p>
        Die <a href="http://www.djangoproject.com/documentation/"
        title="Link zur offiziellen Dokumentation"
        >offizielle Django Dokumentation</a> ist in englischer Sprache verfasst.
    </p>

    <h2>Fehler in der Programmierung</h2>

    <p>
        Django erlaubt <strong>sehr schnell</strong> zu entwickeln, leider lassen sich
        Fehler nicht immer ausschließen. Ein Administrator wurde über diesen Fehler per
        E-Mail informiert und wird sich darum kümmern.
    </p>
</div>
{% endblock %}

{% block content-related %}
<h2>Seite nicht gefunden?</h2>
<p>Wird unter einer aufgerufenen Web-Adresse keine Seite gefunden, antwortet der Server mit dem HTTP-Fehlercode 404.</p>
{% endblock %}
