<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <title>Django-de | {% block title %}Das Python Web Framework für Perfektionisten{% endblock %}</title>
        <link rel="stylesheet" href="/site_media/theme/screen.css" type="text/css" title="Normal" media="screen"/>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="de" />
        <meta name="ROBOTS" content="ALL" />
        <meta http-equiv="imagetoolbar" content="no" />
        <meta name="MSSmartTagsPreventParsing" content="true" />
        <meta name="Copyright" content="GPL" />
        <meta name="keywords" content="Django, Python, framework, open-source,
        deutschsprachig, deutsch, Deutschland, Schweiz, Österreich, web framework,
        documentation, Dokumentation" />
        <meta name="language" content="de" />
        <meta name="resource-type" content="document" />
        <meta name="rating" content="General" />
        <meta name="revisit-after" content="1" />
        <meta name="description" content="Django ist ein Python Web Framework für die schnelle Entwicklung von sauberen, pragmatischen Lösungen." />
        {% block extrahead %}{% endblock %}
    </head>

    <body id="{% block sectionid %}generic{% endblock %}" class="{% block coltype %}default{% endblock %}">
    <div><a id="top"> </a></div>
    <div id="root">
        <div id="topObj"></div>
        <div id="body_head">
            <h1 id="logo"><a href="/" title="Django-de"><span>Django-de</span></a></h1>
            <ul id="nav-global">
                <li id="nav-homepage">
                    <a href="/" {% block active_nav-homepage %}{% endblock %}>
                        Start
                    </a>
                </li>
                <li id="nav-download">
                    <a href="/download/" {% block active_nav-download %}{% endblock %}>
                        Download
                    </a>
                </li>
                <li id="nav-documentation">
                    <a href="/documentation/" {% block active_nav-documentation %}{% endblock %}>
                        Dokumentation
                    </a>
                </li>
                <li id="nav-authors">
                    <a href="/authors/" {% block active_nav-authors %}{% endblock %}>
                        Autoren
                    </a>
                </li>
                <li id="nav-participate">
                    <a href="/participate/" {% block active_nav-participate %}{% endblock %}>
                        Mitmachen
                    </a>
                </li>
                <li id="nav-community">
                    <a href="/community/" {% block active_nav-community %}{% endblock %}>
                        Community
                    </a>
                </li>
                <li id="nav-jobs">
                    <a href="/jobs/" {% block active_nav-jobs %}{% endblock %}>
                        Jobs
                    </a>
                </li>
                <li id="nav-trac">
                    <a href="/trac/" {% block active_nav-imprint %}{% endblock %}>
                        Trac
                    </a>
                </li>
            </ul>
        </div>
        <!-- END Header -->
        <div id="billboard">{% block billboard %}{% endblock %}</div>
        <div id="columnwrap">
            {% block columnwrap %}
                <div id="content-main">
                {% block content %}{% endblock %}
                </div>
                <!-- END #content-main -->
            {% endblock %}
            <div class="cale"></div>
        </div>
        <!-- END #content -->
        <div id="footer">
            <p>
                Django-de ist ein deutschsprachiger Treffpunkt von und für
                Benutzer von <a href="http://www.djangoproject.com" title="Offzielle Seite">Django</a>.
                Django ist eine eingetragene Marke der Django Software Foundation.
                <a href="/imprint/">Impressum</a>
            </p>
        </div>
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    
    <script type="text/javascript">
    if (typeof(_gat) == 'object') {
        var pageTracker = _gat._getTracker("UA-204224-14");
        pageTracker._initData();
        pageTracker._trackPageview();
    }
    </script>
    </body>
</html>

