{% extends "base_2col.html" %}

{% block sectionid %}download{% endblock %}
{% block title %}Woher bekomme ich Django?{% endblock %}
{% block active_nav-download %}class="active"{% endblock %}
{% block billboard %}<h2>Download</h2>{% endblock %}

{% block content %}
<h1>Woher bekomme ich Django?</h1>
<div class="content first-content">
    <p>
        Django ist eine Open-Source-Software, die unter der 
        <a href="http://code.djangoproject.com/file/django/trunk/LICENSE"
        >BSD-Lizenz</a> veröffentlicht wird. Es benötigt Python 2.3 oder höher
        und hängt von keiner anderen Python-Bibliothek ab. Sie können sich Django
        auf verschiedene Art und Weise besorgen:
    </p>

    <h2>1. Möglichkeit: Laden Sie sich die aktuellste Entwicklerversion herunter</h2>

    <p>
        Die neuste und beste Django-Version befindet sich in unserem Subversion
        Repository (unser Versionskontrollsystem). Laden Sie es sich mit
        folgendem Kommandozeilenbefehl mittels <a href="http://subversion.tigris.org/">Subversion</a> herunter:
    </p>

    <p class="literal-block">
        <code>svn co http://code.djangoproject.com/svn/django/trunk/</code>
    </p>

    <h2>2. Möglichkeit: Laden Sie sich die letzte offizielle Version herunter</h2>

    <p>
        Die letzte offizielle Version ist 0.96.1 Bitte beachten Sie, dass wir 
        eventuell noch Änderungen an der API vornehmen, bevor wir Version 1.0
        veröffentlichen. Bitte lesen Sie die Dokumentation zur 
        <a href="http://www.djangoproject.com/documentation/api_stability/">API-Stabilität</a>,
        um mehr dazu zu erfahren. Alle Änderungen, die nicht mit einer älteren Version
        kompatibel sind, werden von uns <a href="http://code.djangoproject.com/wiki/BackwardsIncompatibleChanges"
        >detailiert dokumentiert</a>, um eine
        Aktualisierung zu erleichtern.
        
    </p>

    <p>So bekommen Sie Version 0.96.1:</p>

    <p>
        Laden Sie zuerst <a href="http://www.djangoproject.com/download/0.96/tarball/"
        >Django-0.96.tar.gz</a>. Danach:
    </p>

    <pre class="literal-block"><code>
tar xzvf Django-0.96.tar.gz
cd Django-0.96
sudo python setup.py install</code></pre>

    <h2>Wenn das Heruntergeladen beendet ist</h2>

    <p>
        Lesen Sie die <a href="http://www.djangoproject.com/documentation/install/"
        >Installationsanleitung</a> für eine genaue Beschreibung.
    </p>

    <p>
        Schauen Sie auf jeden Fall bei der <a href="http://groups.google.com/group/django-users"
        >django-users Mailingliste (englisch)</a> vorbei, wo sich viele
        Django-Anwender und Entwickler tummeln und sich gegenseitig helfen.
    </p>
</div>
{% endblock %}

{% block content-related %}
<h2>Für die Ungeduldigen :</h2>
<p>Laden Sie die letzte offizielle Version:</p>
<ul>
    <li class="button-download">
        <a href="http://www.djangoproject.com/download/0.96.1/tarball/">Django-0.96.1.tar.gz</a>
    </li>
</ul>
<h2>Welche Version ist besser?</h2>
<p>
    Wir verbessern Django fast jeden Tag und sind darin geübt, Code stabil
    zu halten. Daher ist die neuste Entwicklerversion eine sichere
    und einfache Möglichkeit, an neue Funktionen zu kommen, noch bevor sie in
    einer offiziellen Version enthalten sind.
</p>
<p>
    Wenn Sie sich für die Entwicklerversion entscheiden, bedenken Sie bitte,
    dass es ab und Änderungen vorgenommen werden, die mit einer älteren
    Version unkompatibel sind. Sie sollten deswegen immer ein Auge auf den
    <a href="http://code.djangoproject.com/timeline">Entwicklungsverlauf</a> werden.
</p>
<p>
    Sollten Sie auf der Suche nach einer stabilen Produktivumgebung sein und
    auf die nächste Veröffentlichung warten können, arbeiten Sie am besten mit
    der letzten offiziellen Version. Detailierte Informationen über die
    notwendigen Anpassungen während Aktualisierungen finden sich in jeder
    neuen Version.
</p>

<h2>Vorherige Versionen :</h2>
<ul>
    <li class="button-download">
        <a href="http://www.djangoproject.com/download/0.95.2/tarball/">Django-0.95.2.tar.gz</a>
    </li>
    <li class="button-download">
        <a href="http://www.djangoproject.com/download/0.91.1/tarball/">Django-0.91.1.tar.gz</a>
    </li>
    <li class="button-download">
        <a href="http://www.djangoproject.com/download/0.90/tarball/">Django-0.90.tar.gz</a>
    </li>
</ul>
{% endblock %}
