{% extends "base_2col.html" %}

{% block sectionid %}download{% endblock %}
{% block title %}Woher bekomme ich Django?{% endblock %}
{% block active_nav-download %}class="active"{% endblock %}
{% block billboard %}<h2>Download</h2>{% endblock %}

{% block content %}
<h1>Woher bekomme ich Django?</h1>
<div class="content first-content">
    <p>
        Django ist eine Open-Source-Software, die unter der 
        <a href="http://code.djangoproject.com/file/django/trunk/LICENSE"
        >BSD-Lizenz</a> veröffentlicht wird, benötigt Python 2.3 oder höher
        und hängt von keiner anderen Python-Bibliothek ab. Du kannst dir Django
        auf verschiedene Art und Weise besorgen:
    </p>

    <h2>1. Möglichkeit: Lade dir die aktuellste Entwicklerversion herunter</h2>

    <p>
        Die neueste und beste Django-Version befindet sich in unserem Subversion
        Repository (unser Versionskontrollsystem). Lade dir es mit
        folgendem Kommandozeilenbefehl mittels <a href="http://subversion.tigris.org/">Subversion</a> herunter:
    </p>

    <p class="literal-block">
        <code>svn co http://code.djangoproject.com/svn/django/trunk/</code>
    </p>

    <h2>2. Möglichkeit: Lade dir die letzte offizielle Version herunter</h2>

    <p>
        Die letzte offizielle Version ist <code>0.96.1</code>. Bitte beachte, dass wir 
        eventuell noch Änderungen an der API vornehmen, bevor wir Version 1.0
        veröffentlichen. Bitte lies die Dokumentation zur 
        <a href="http://www.djangoproject.com/documentation/api_stability/">API-Stabilität</a>,
        um mehr dazu zu erfahren. Alle Änderungen, die nicht mit einer älteren Version
        kompatibel sind, werden von uns <a href="http://code.djangoproject.com/wiki/BackwardsIncompatibleChanges"
        >detailiert dokumentiert</a>, um eine
        Aktualisierung zu erleichtern.
        
    </p>

    <p>So bekommst du Version <code>0.96.1</code>:</p>

    <p>
        Lade dir zuerst <a href="http://www.djangoproject.com/download/0.96.1/tarball/"
        >Django-0.96.1.tar.gz</a> herunter. Danach:
    </p>

    <pre class="literal-block"><code>tar xzvf Django-0.96.1.tar.gz
cd Django-0.96.1
sudo python setup.py install</code></pre>

    <h2>Wenn das Heruntergeladen beendet ist</h2>

    <p>
        Lies die <a href="http://www.djangoproject.com/documentation/install/"
        >Installationsanleitung</a> für eine genaue Beschreibung.
    </p>

    <p>
        Schau auf jeden Fall bei der <a href="http://groups.google.com/group/django-users"
        >django-users Mailingliste (englisch)</a> vorbei, auf der sich viele
        Django-Anwender und Entwickler tummeln und sich gegenseitig helfen.
    </p>
</div>
{% endblock %}

{% block content-related %}
<h2>Für die Ungeduldigen</h2>
<p>Lade dir die letzte offizielle Version:</p>
<ul>
    <li class="button-download">
        <a href="http://www.djangoproject.com/download/0.96.1/tarball/">Django-0.96.1.tar.gz</a>
    </li>
</ul>
<h2>Welche Version ist besser?</h2>
<p>
    Django wird von fähigen Entwicklern fast jeden Tag weiterentwickelt und
    läuft sehr stabil. Deswegen ist die Entwicklerversion die beste Möglichkeit,
    viele neue Funktionen zu benutzen.
</p>
<p>
	An der Entwicklerversion werden manchmal Änderungen vorgenommen, die mit
	älteren Versionen inkompatibel sind. Du solltest daher immer ein Auge auf den
    <a href="http://code.djangoproject.com/timeline">Entwicklungsverlauf</a> werfen.
</p>
<p>
	Wenn du auf der Suche nach einer stabilen Produktivumgebung bist und auf
	die nächste Veröffentlichung warten kannst, lade dir bitte die letzte offizielle
	Version herunter. Jeder neuen Version liegt eine genaue Beschreibung für den
	Aktualisierungsvorgang bei.
</p>

<h2>Vorherige Versionen :</h2>
<ul>
    <li class="button-download">
        <a href="http://www.djangoproject.com/download/0.95.2/tarball/">Django-0.95.2.tar.gz</a>
    </li>
    <li class="button-download">
        <a href="http://www.djangoproject.com/download/0.91.1/tarball/">Django-0.91.1.tar.gz</a>
    </li>
    <li class="button-download">
        <a href="http://www.djangoproject.com/download/0.90/tarball/">Django-0.90.tar.gz</a>
    </li>
</ul>
{% endblock %}
