{% extends "base_2col.html" %}

{% block cssid %}homepage{% endblock %}
{% block sectionid %}homepage{% endblock %}
{% block active_nav-homepage %}class="active"{% endblock %}

{% block billboard %}
<h2>
    Das Web Framework für Perfektionisten mit Deadlines.
    <span>Bessere Webanwendungen in kürzerer Zeit, mit weniger Code.</span>
</h2>
{% endblock %}

{% block content %}
<h1>Entdecke Django!</h1>
<div class="content first-content">
    <h2 class="deck">
        Django ist ein Python Web Framework für die schnelle Entwicklung von sauberen,
        pragmatischen Lösungen.
    </h2>
    <p>Da Django ursprünglich für Nachrichtenplattformen entwickelt wurde,
        ist es darauf optimiert, die straffen Deadlines in Online-Redaktionen
        einzuhalten und trotzdem den hohen technischen Ansprüchen von
        hochperformanten und eleganten Webanwendungen gerecht zu werden.
    </p>
    <p>
        Dabei wird versucht, soviel wie möglich zu automatisieren und dem
        <a href="http://de.wikipedia.org/wiki/Don%27t_repeat_yourself">DRY-Prinzip</a> zu folgen.
        Zum Einsatz kommt die einfache und populäre Programmiersprache
        <a href="http://www.python.org">Python</a>.
    </p>
    <p>
        Erfahre mehr in der <a href="/documentation/overview/"
        title="Übersicht aufrufen">Übersicht &rarr;</a>
    </p>
    <p>
        Wenn du sofort loslegen willst, lies bitte die <a href="/documentation/install/"
        title="Installationsanleitung aufrufen">Installationsanleitung</a> und dann das
        <a href="/documentation/tutorial01/"
        title="Tutorial aufrufen">Tutorial</a>.
    </p>
</div>

<div class="content">
	<h2>Das Django Framework</h2>
	<h3>Objektrelationales Mapping (<abbr title="Object-relational mapper">ORM</abbr>)</h3>
	<p>
	    Du kannst deine <a href="http://www.djangoproject.com/documentation/model-api/">Datenmodelle</a>
	    komplett in Python definieren, erhälst Zugriff auf eine umfangreiche,
	    dynamische <a href="http://www.djangoproject.com/documentation/db_api/">Datenbank-API</a>
	    und kannst &ndash; wenn nötig &ndash; SQL benutzen.	    
    </p>
	<h3>Automatische Administrationsoberfläche</h3>
	<p>
        Erspar dir die mühsame Arbeit, eine Oberfläche zum Hinzufügen und Ändern
        von Inhalten zu entwickeln &ndash; <a href="http://www.djangoproject.com/documentation/tutorial02/">Django
        erledigt das für dich automatisch</a>.
    </p>
	<h3>Elegante URL-Konfiguration</h3>
	<p>
        Entwirf <a href="/documentation/url_dispatch/"
        >gutaussehende URLs</a> ohne unnötigen Ballast und ohne irgendeine
        technische Einschränkung. Sei so flexibel wie du willst.
    </p>
	<h3>Templates</h3>
	<p>
        Benutze Djangos mächtige, erweiterbare und Webdesigner-freundliche
        <a href="http://www.djangoproject.com/documentation/templates/">Template-Sprache</a> und trenne
        Design, Inhalt und Python-Code auf einfache Weise.  
    </p>
	<h3>Cache</h3>
	<p>
        Für <a href="http://www.djangoproject.com/documentation/cache/">höhere Leistung</a> können memcached
        oder andere Cache-Frameworks gezielt eingesetzt werden.
    </p>
    <h3>Internationalisierung</h3>
    <p>
        Django bietet umfangreiche Unterstützung für <a href="http://www.djangoproject.com/documentation/i18n/"
        >mehrsprachige Anwendungen</a>, lässt dich Übersetzungen einfach
        definieren und bringt die Möglichkeit mit, sprachspezifische Funktionen
        zu implementieren.
    </p>
</div>
<!-- END #content-secondary -->
{% endblock %}

{% block content-related %}
<div>
    <h2>Mitmachen</h2>
    <p>
        Wir bauen Django-de gerade erst auf und verweisen deswegen noch auf die
        englische Original-Dokumentation. Wenn du etwas übersetzen möchtest, mach
        doch einach mit. Wir würden uns freuen.
    </p>
    <p><a href="/participate/" class="more-about">Mehr erfahren...</a></p>
</div>
<div>
    <h2>Download</h2>
    <ul class="linklist">
        <li class="button-download">
            <a href="/download/">Letzte Version: <strong>0.96.2</strong></a>
        </li>
    </ul>
    <p>
        Open-Source, <a href="http://code.djangoproject.com/browser/django/trunk/LICENSE"
        >BSD-Lizenz</a>
    </p>
</div>
<div>
    <h2>Dokumentation</h2>
    <ul class="linklist doclist">
        <li><a href="/documentation/install/">Installationsanleitung</a></li>
        <li><a href="/documentation/tutorial01/">Anfänger-Tutorial</a></li>
        <li><a href="http://www.djangoproject.com/documentation/model-api/">Datenmodelle</a></li>
        <li><a href="http://www.djangoproject.com/documentation/templates/">Templates</a></li>
        <li><a href="/documentation/">Und vieles mehr...</a></li>
    </ul>
</div>
{% endblock %}

{% block content-extra_ %}
<h2>Sites utilisant Django</h2>
<dl>
    <dt><a href="http://www.archlinuxfr.org/" title="Accès au site">Arch Linux France</a></dt>
    <dd>
        Site officiel des utilisateurs francophones d'Arch Linux, une
        distribution souple et légère qui tente de rester simple (Keep It Simple).
    </dd>
    <dt><a href="http://www.edoll.fr/" title="Accès au site">Edoll</a></dt>
    <dd>
        Edoll premier site communautaire synchronisé web et mobile pour chatter,
        rencontrer et lancer des défis à tes amis et plus encore..
    </dd>
    <dt><a href="http://amisphere.com/" title="Accès au site">Amisphère</a></dt>
    <dd>
        Amisphère est une communauté en ligne pour <strong>ami</strong>liorer vos contacts et vos sorties.
    </dd>
    <dt><a href="http://kib2.webfactional.com/" title="Accès au site">Kib's blog</a></dt>
    <dd>
        Python, LaTeX et logiciels, le blog de Kib².
    </dd>
    <dt><a href="http://www.slubman.info/" title="Accès au site">$ Slubman::Blog()</a></dt>
    <dd>
        Le blog de Slubman.
    </dd>
    <dt><a href="http://shortbrain.org/" title="Accès au site">ShortBrain</a></dt>
    <dd>
        Répertoire d'articles autour de Python et de Django.
    </dd>
    <dt><a href="http://jondesign.net/" title="Accès au site">JonDesign</a></dt>
    <dd>
        Site bilingue avec plusieurs milliers de visites par jour.
    </dd>
</dl>
{% endblock %}
