{% extends "base_2col.html" %}

{% block sectionid %}impressum{% endblock %}
{% block title %}Impressum{% endblock %}
{% block billboard %}<h2><a href="/imprint/">Impressum</a></h2>{% endblock %}

{% block content %}
<h1>Impressum</h1>
<div class="content first-content">
    <p>
        Diese Webseite ist ein rein privates Projekt einiger am Python Web
        Framework "Django" interessierter Personen aus dem deutschsprachigen
        Raum und verfolgt keinerlei kommerzielle Ziele oder Interessen.
    </p>
    <h2>Betreiber</h2>
    <p>
        Jannis Leidel<br />
        Bautzener Platz 4<br />
        10829 Berlin
    </p>
    <p>
        Telefon: +49(0)30/69205706<br />
        Telefax: +49(0)30/69205706-9
    </p>
    <p>    
        E-Mail-Adresse: <a title="Bitte hier klicken um die E-Mail angezeigt zu bekommen" href="http://mailhide.recaptcha.net/d?k=01Pl42yIS25rs8btJtltPVVw==&amp;c=oK3v15xBLHfuaZyrjK4s1A-DH68slYyYIyZ399Q5Ta8=" onclick="window.open('http://mailhide.recaptcha.net/d?k=01Pl42yIS25rs8btJtltPVVw==&amp;c=oK3v15xBLHfuaZyrjK4s1A-DH68slYyYIyZ399Q5Ta8=', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">...@gmail.com</a> (bitte auf den Link klicken, um die Adresse angezeigt zu bekommen)<br />
    </p>
    <p>
        Inhaltlich Verantwortlicher gemäß §5 TMG: Jannis Leidel
        (Anschrift wie oben)
    </p>
    <h2>Haftungshinweis</h2>
    <p>
        Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung
        für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten
        sind ausschließlich deren Betreiber verantwortlich.
    </p>
</div>
{% endblock %}

{% block content-related %}
<h2>Kontakt</h2>
<p>
    Wenn du weitere Fragen hast, kannst du uns entweder in der Google Groups
    <a href="http://groups.google.com/group/django-de/">django-de</a> oder in
    unserem IRC-Raum <a href="irc://chat.freenode.net/#django-de"><strong
    >#django-de</strong></a> auf dem Server <strong>irc.freenode.net</strong>
    treffen.
</p>
<p>
<a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangoproject120x25_grey.gif" border="0" alt="A Django project." title="A Django project." /></a>
</p>
{% endblock %}
