{% extends "base_2col.html" %}

{% block sectionid %}participate{% endblock %}
{% block active_nav-participate %}class="active"{% endblock %}
{% block title %}Wie kann ich bei Django-de mitmachen?{% endblock %}
{% block billboard %}<h2>Mitmachen</h2>{% endblock %}

{% block content %}
<h1>Wie kann ich bei Django-de mitmachen?</h1>
<div class="content first-content">
    <p>
        Es gibt verschiedene Möglichkeiten mitzumachen, je nach dem wieviel
        Zeit und Motivation du hast:
    </p>
    <h2>Übersetzung der Dokumentation</h2>
    <p>
        Es reicht, wenn du dir aus dem <code>/docs</code> Verzeichnis deiner
        lokalen Django-Version eine Datei als Vorlage aussuchst und die
        Übersetzung in eine andere Textdatei tippst.
    </p>
    <p>
        Um zu verhindern, dass mehrere Leute an derselben Datei arbeiten,
        öffne bitte ein Ticket im <a href="http://trac.django-de.org">Trac</a>
        und halte uns dort über deine Fortschritte auf dem Laufenden.
        Wenn du fertig bist oder die Arbeit an jemanden anderes übergeben
        willst, hänge bitte die Datei mit der Übersetzung an das Ticket an.
    </p>
    <p>
        Du kannst überprüfen, ob die Formatierung korrekt ist, in dem du
        folgenden Kommandozeilenbefehl ausführst:
    </p>
    <pre class="literal-block"><code>rst2html datei.txt datei.html</code></pre>
    <p>
        Sollten dabei Fehler angezeigt werden, füge die Fehlermeldung dem
        Ticket hinzu oder kontaktiere uns im IRC-Raum
        <a href="irc://chat.freenode.net/#django-de">#django-de</a>. Das Python
        Modul <code>python-docutils</code> muß auf jeden Fall installiert sein.
    </p>
    <h2>Einen Fehler auf der Seite melden</h2>
    <p>
        Wenn du einen Tippfehler auf dieser Seite, in den anderen Texten oder
        der Dokumentation gefunden hast, kannst du auf <a href="http://trac.django-fr.org/
        ">trac.django-de.org</a> nachsehen, ob der Fehler schon einmal gemeldet
        wurde und &ndash; wenn nötig &ndash; einen eigenen Fehlerbericht anlegen.
    </p>
    <h2>An der Entwicklung von Django teilnehmen</h2>
    <p>
        In diesem Falls, solltest du fließend Englisch können, am besten
        an der <a href="http://groups.google.com/group/django-developers"
        title="Mailingliste aufrufen (externe Seite)"
        >Mailingliste für die Entwickler</a> teilnehmen und versuchen, die
        <a href="http://code.djangoproject.com/report"
        title="Fehlerberichte aufrufen (externe Seite)"
        >gefundenen Fehler</a> zu beheben. Fang lieber klein an und steigere
        dich nach und nach.
    </p>
</div>
{% endblock %}

{% block content-related %}
<h2>Ums kurz zu machen</h2>
<p>
    Mit nur sehr wenig Aufwand erreicht man oft Erstaunliches. Mit deiner Hilfe
    kann Django noch besser werden und die Anwender- und Entwicklergemeinde
    vergrößert werden.
</p>
<p>    
    Davon profitierst nicht nur du, sondern auch deine vielen Open-Source-Mitstreiter.
    Denn manchmal fängt eine Leidenschaft mit einem einfachen Fehlerbericht an :)
</p>
<p>
    In unserem IRC-Raum <a href="irc://chat.freenode.net/#django-de"><strong
    >#django-de</strong></a> auf dem Server <strong>irc.freenode.net</strong>
    kannst du viele von uns regelmäßig treffen.
</p>
{% endblock %}
