{% extends "base_2col.html" %}

{% block sectionid %}participate{% endblock %}
{% block active_nav-participate %}class="active"{% endblock %}
{% block title %}Wie kann ich bei Django-de mitmachen?{% endblock %}
{% block billboard %}<h2><a href="/participate/">Mitmachen</a></h2>{% endblock %}

{% block content %}
<div class="content first-content">
    <h2>Übersetzung der Dokumentation</h2>
    <p>
        Es reicht, wenn du dir aus dem <code>/docs</code> Verzeichnis deiner
        lokalen Django-Version eine Datei als Vorlage aussuchst und die
        Übersetzung in eine andere Textdatei tippst.
    </p>
    <p>
        Um zu verhindern, dass mehrere Leute an derselben Datei arbeiten,
        öffne bitte ein Ticket im <a href="/trac/">Trac</a>
        und halte uns dort über deine Fortschritte auf dem Laufenden.
        Wenn du fertig bist oder die Arbeit an jemanden anderes übergeben
        möchtest, hänge bitte die Datei mit der Übersetzung an das Ticket an.
    </p>
    <p>
        Du kannst überprüfen, ob die Formatierung korrekt ist, in dem du
        folgenden Kommandozeilenbefehl ausführst:
    </p>
    <pre class="literal-block"><code>rst2html datei.txt datei.html</code></pre>
    <p>
        <code>rst2html</code> ist ein <a
            href="http://docutils.sourceforge.net/docs/user/tools.html">Front-End Tool</a>
        aus dem Python Modul <a href="http://docutils.sourceforge.net/">
        <code>docutils</code></a> und muß dafür installiert sein.
        Sollten dabei Fehler angezeigt werden, füge die Fehlermeldung dem
        Ticket hinzu oder kontaktiere uns im IRC-Raum
        <a href="irc://chat.freenode.net/#django-de">#django-de</a>. 
    </p>
    <h2>Einen Fehler auf der Seite melden</h2>
    <p>
        Wenn du einen Tippfehler auf dieser Seite, in den anderen Texten oder
        der Dokumentation gefunden hast, kannst du im <a href="/trac/
        ">Django-de Trac</a> nachsehen, ob der Fehler schon einmal gemeldet
        wurde und &ndash; wenn nötig &ndash; einen eigenen Fehlerbericht anlegen.
    </p>
    <h2>An der Entwicklung von Django teilnehmen</h2>
    <p>
        Solltest du fließend Englisch können, kannst du in diesem Fall am besten
        an der <a href="http://groups.google.com/group/django-developers"
        title="Mailingliste aufrufen (externe Seite)"
        >Mailingliste für die Entwickler</a> teilnehmen und versuchen, die
        <a href="http://code.djangoproject.com/wiki/Reports"
        title="Fehlerberichte aufrufen (externe Seite)"
        >gefundenen Fehler</a> zu beheben. Fang lieber klein an und steigere
        dich nach und nach.
    </p>
</div>
{% endblock %}

{% block content-related %}
<h2>Ums kurz zu machen</h2>
<p>
    Mit nur sehr wenig Aufwand erreicht man oft Erstaunliches. Mit deiner Hilfe
    kann Django noch besser werden und die Anwender- und Entwicklergemeinde
    vergrößert werden.
</p>
<p>    
    Davon profitierst nicht nur du, sondern auch deine vielen Open-Source-Mitstreiter.
    Denn manchmal fängt eine Leidenschaft mit einem einfachen Fehlerbericht an. :)
</p>
<p>
    Wenn du weitere Fragen hast, kannt du uns entweder in der Google Groups
    <a href="http://groups.google.com/group/django-de/">django-de</a> oder in
    unserem IRC-Raum <a href="irc://chat.freenode.net/#django-de"><strong
    >#django-de</strong></a> auf dem Server <strong>irc.freenode.net</strong>
    treffen.
</p>
{% endblock %}
