{% extends "jobboard/overview.html" %}
{% load jobboard %}
{% load i18n %}

{% block billboard %}<h2><a href="/jobs/">Django Jobs</a> &rarr; {% if is_edit_form %}{% trans "edit" %}{% else %}{% trans "add" %}{% endif %}</h2>{% endblock %}
{% block extrahead %}
<style type="text/css" media="screen, projection">
    ol.form{
        margin: 10px 0 !important;
        padding: 0 !important;
        list-style: none !important;
        width: 600px;
    }

    ol.form li{
        margin: 0 !important;
        padding: 10px 25px !important;
        background-color: White;
        border-bottom: 1px solid #D6F1B7;
        border-right: 1px solid #D6F1B7;
        font-size: 0.8em;
    }

    ol.form label{
        display: block;
        font-weight: bold;
        color: #333333;
        padding: 0 0 5px 0;
    }

    ol.form input{
        width: 300px;
        display: block;
        margin-bottom: 3px;
    }

    ol.form input.datum{
        width: 100px;
    }

    ol.form li.submit input{
        margin: 0;
        width: auto;
    }

    ol.form textarea{
        width: 95%;
        height: 300px;
    }

    ul.errorlist, ul.errorlist li{
        margin: 0 !important;
        padding: 0 !important;
        list-style: none !important;
        border: none !important;
        color: #c00;
    }

    ul.errorlist li{
        padding-bottom: 4px !important;
    }

</style>
{% endblock %}

{% block content %}

    {% if is_edit_form %}
    <h1>{% trans "Delete entry" %}</h1>
    <div class="content">
        <form method="post" action=".">
        <ol class="form">
            <li><p>{% trans "This action can not be undone!" %}</p></li>
            <li class="submit"><input type="submit" name="delete" value="{% trans "Delete this job offer" %}"/></li>
        </ol>
        </form>
    </div>
    
    <h1>{% trans "Edit entry" %}</h1>
    {% else %}
    <h1>{% trans "Add entry" %}</h1>
    {% endif %}
    
    <div class="content">
        <form method="post" action=".">
        <ol class="form">
            {{ form.as_ul }}
            <li class="submit"><input type="submit" value="{% trans "Submit" %}"/></li>
        </ol>
        </form>
    </div>

{% endblock %}
