{% extends "base_2col.html" %}
{% load tagging_tags %}

{% block sectionid %}links{% endblock %}
{% block active_nav-links %}class="active"{% endblock %}
{% block title %}Index des liens{% endblock %}

{% block billboard %}<h2><a href="/liens/">Links</a></h2>{% endblock %}

{% block content %}
<h1>Liste der letzten Links</h1>
{% if msg %}<span class="sitefr_message">{{ msg }}</span>{% endif %}
<div class="content first-content">
    <h2 class="deck">
        Liste der letzten Links zum Thema Django.
    </h2>
    <p>
        Die offizielle Dokumentation ist vollständig, dringt aber nicht bis
        in jedes Spezialgebiet vor. Auf dieser Seite sammeln wir Links zu Seiten
        die sich mit Django beschäftigen und die diese Lücken füllen.
    </p>
</div>
<div class="content">
    <h2>Letzte Einträge</h2>
    {% for link in latest %}
        <h3 id="{{ link.slug }}">
            <a href="{{ link.url }}" title="Seite aufrufen (extern)">{{ link.title }}</a> ({{ link.lang|lower }})
        </h3>
        <blockquote>{{ link.comment }}</blockquote>
        <p>Tags :
        {% tags_for_object link as tag_list %}
        {% for tag in tag_list %}
            <a href="/tags/{{ tag }}/" title="">{{ tag.name }}</a>
        {% endfor %}
        </p>
    {% endfor %}
</div>
{% endblock %}

{% block content-related %}
    <h2>Informiert bleiben</h2>
    <p>
        <a href="/rss/liens/" title="RSS Feed abonnieren"
        >RSS Feed der letzten Links</a>
    </p>
    <h2>Einen Link hinzufügen</h2>
    <p>Alle Links werden vor der Veröffentlichung geprüft.</p>
    <p><a href="/liens/ajouter/" class="link-add">Einen neuen Link vorschlagen</a></p>
    <h2>Tags</h2>
    <ul id="tag_cloud">
    {% tags_for_model documentation.Documentation as documentation_list %}
    {% for tag in documentation_list %}
        <li><a href="/tags/{{ tag }}/" title="" class="importance{{ tag.font_size }}">{{ tag }}</a></li>
    {% endfor %}
    {% tags_for_model links.Link as link_list %}
    {% for tag in link_list %}
        <li><a href="/tags/{{ tag }}/" title="" class="importance{{ tag.font_size }}">{{ tag }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
