{% extends "base_2col.html" %}

{% block sectionid %}links{% endblock %}
{% block active_nav-links %}class="active"{% endblock %}
{% block title %}Index des liens{% endblock %}

{% block billboard %}<h2><a href="/liens/">Liens</a></h2>{% endblock %}

{% block content %}
<h1>Liens relatifs à Django pour le mois de {{ month|date:"F Y"|lower }}</h1>
<div class="content">
    {% for link in link_list %}
        <h3 id="{{ link.slug }}">
            <a href="{{ link.url }}" title="Accès au site (sortie)">{{ link.title }}</a> ({{ link.lang|lower }})
        </h3>
        <blockquote>{{ link.comment }}</blockquote>
    {% endfor %}
</div>
{% endblock %}

{% block content-related %}
    <h2>Rester informer</h2>
    <p>
        <a href="/rss/liens/" title="S'abonner au flux"
        >Flux RSS des derniers ajouts</a>
    </p>
    <h2>Ajouter un lien</h2>
    <p>L'ajout de lien est modéré a priori.</p>
    <p><a href="/liens/ajouter/" class="link-add">Proposer un nouveau lien</a></p>
{% endblock %}
