{% extends "base_2col.html" %}

{% block coltype %}links-link change-form{% endblock %}
{% block sectionid %}links{% endblock %}
{% block active_nav-links %}class="active"{% endblock %}
{% block title %}Link hinzufügen{% endblock %}

{% block billboard %}<h2><a href="/links/">Links</a></h2>{% endblock %}

{% block content %}
<h1>Link hinzufügen</h1>

<div class="content first-content">
    {% if form.has_errors %}
    <p class="error">Bitte die folgenden Fehler korrigieren&nbsp;:</p>
    {% endif %}

    <form method="post" action="" id="link_form">
        <div class="form-row full-input-width">
            <label for="id_title">
                Titel, meistens reicht der Originaltitel der Webseite:
            </label>
            {{ form.title }}
            {% if form.title.errors %}
                <p class="error">{{ form.title.errors|join:", " }}</p>
            {% endif %}
        </div>
        <div class="form-row">
            <p class="half-cell full-input-width">
                <label for="id_url">
                    Adresse (URL inkl. http://):
                </label>
                {{ form.url }}
                {% if form.url.errors %}
                    <span class="error">{{ form.url.errors|join:", " }}</span>
                {% endif %}
            </p>

            <p class="half-cell">
                <label for="id_lang">Sprache:</label> {{ form.lang }}
                {% if form.lang.errors %}<span class="error">
                    {{ form.lang.errors|join:", " }}</span>
                {% endif %}
            </p>
            <div class="cale"></div>
        </div>
        <div class="form-row full-input-width">
            <label for="id_related_tags">
                Tags, getrennt durch Leerzeichen:
            </label>
            {{ form.related_tags }}
            {% if form.related_tags.errors %}
                <p class="error">{{ form.related_tags.errors|join:", " }}</p>
            {% endif %}
        </div>
        <div class="form-row full-input-width">
            <label for="id_comment">
                Kommentar, wenn möglich in deutsch:
            </label>
            {{ form.comment }}
            {% if form.comment.errors %}
                <p class="error">{{ form.comment.errors|join:", " }}</p>
            {% endif %}
        </div>
        <div class="submit-row">
            <input type="submit" value="Absenden &raquo;"/>
        </div>
    </form>
</div>
{% endblock %}

{% block content-related %}
    <h2>Interessante Links zum Thema Django</h2>
    <p>
        Die offizielle Dokumentation ist vollständig, dringt aber nicht bis
        in jedes Spezialgebiet vor. Auf dieser Seite sammeln wir Links zu Seiten
        die sich mit Django beschäftigen und die diese Lücken füllen.
    </p>
{% endblock %}
