{% extends "base_2col.html" %}

{% block sectionid %}links{% endblock %}
{% block active_nav-links %}class="active"{% endblock %}
{% block title %}Links zum Thema Django{% endblock %}

{% block billboard %}<h2><a href="/links/">Links</a></h2>{% endblock %}

{% block content %}
<h1>Links zum Thema Django aus dem Monat {{ month|date:"F Y"|lower }}</h1>
<div class="content">
    {% for link in link_list %}
        <h3 id="{{ link.slug }}">
            <a href="{{ link.url }}" title="Accès au site (sortie)">{{ link.title }}</a> ({{ link.lang|lower }})
        </h3>
        <blockquote>{{ link.comment }}</blockquote>
    {% endfor %}
</div>
{% endblock %}

{% block content-related %}
    <h2>Informiert bleiben</h2>
    <p>
        <a href="/rss/links/" title="RSS Feed abonnieren"
        >RSS Feed der letzten Links</a>
    </p>
    <h2>Einen Link hinzufügen</h2>
    <p>Alle Links werden vor der Veröffentlichung geprüft.</p>
    <p><a href="/links/add/" class="link-add">Einen neuen Link vorschlagen</a></p>
{% endblock %}
