{% extends "base_2col.html" %}

{% block sectionid %}authors{% endblock %}
{% block active_nav-authors %}class="active"{% endblock %}
{% block title %}Liste der Mitwirkenden{% endblock %}

{% block billboard %}<h2><a href="/authors/">Mitwirkende</a></h2>{% endblock %}

{% block content %}
<div class="content first-content">
    <h2 class="deck">Nachfolgend ein paar Informationen über alle Mitwirkende</h2>
    <p>Nicht zögern, <a href="/participate/">jeder kann mitmachen</a>.</p>
    <ul class="linklist ">
    {% for author in author_list %}
        <li id="{{ author.slug }}">
            {% if author.url %}
            <a href="{{ author.url }}" title="Link zur persönlichen Homepage (extern)">
            {% endif %}
            {{ author.name }}
            {% if author.url %}
            </a>
            {% endif %}
            <div class="bio">{{ author.bio }}</div>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block content-related %}
    <h2>Wie kann ich mithelfen?</h2>
    <p>
        Alle Mitwirkende bei Django-de sind Freiwillige und freuen sich über
        jede Unterstützung bei Übersetzungen und Betrieb.
    </p>
    <p><a href="/participate/" class="more-about">Mehr erfahren...</a></p>
{% endblock %}